/* Hide the default checkbox */
.button-cont input {
  /* opacity: 0; */
  display: none;
  cursor: pointer;
  height: 0;
  width: 0;
}

.button-cont {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.button-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 10em;
  background-color: #212121;
  transition: 0.3s;
  box-shadow: 6px 6px 10px #000000, -6px -6px 10px #3c3c3c;
}

.checkmark svg {
  width: 45px;
  height: 45px;
  margin-top: 11px;
  margin-left: 12.5px;
  fill: #264d39;
  transition: 0.2s;
}

.checkmark:active {
  box-shadow: 2px 2px 3px #000000, -2px -2px 3px #3c3c3c;
}

/* When the checkbox is checked */
.button-cont input:checked ~ .checkmark {
  box-shadow: 4px 4px 6px #000000, -4px -4px 6px #3c3c3c;
}

.button-cont input:checked ~ .checkmark svg {
  fill: #00ff7b;
}

.button-cont input:checked ~ .checkmark:active {
  box-shadow: 2px 2px 3px #000000, -2px -2px 3px #3c3c3c;
}
